<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechBlog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
  <div class="wrapper">

    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">TechBlog</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if loggedIn}}
            <li> <a href="/dashboard">dashboard</a>
              <button id="logout" class="btn-no-style">logout</button>
            </li>
            {{else}}
            <li> <a href="/login">login</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>


    </header>

    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>